<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="https://ijsv-backend.herokuapp.com/api/temas"
          ><span class="glyphicon glyphicon-th-list"></span> Temas</a
        >
      </li>
      <li>
        <a href="https://ijsv-backend.herokuapp.com/api/auth"
          ><span class="glyphicon glyphicon-user"></span> Users</a
        >
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="https://richardmachado.dev"
          ><span class="glyphicon glyphicon-book"></span> About the Developer</a
        >
      </li>
    </ul>
  </div>
</nav>
