<!DOCTYPE html>
<html>
  <head>
    <%- include ("../partials/header.ejs") %>
  </head>
  <body>
    <%- include ("../partials/nav.ejs") %>
    <div class="jumbotron text-center">
      <div class="container">
        <img class="logo" src="logo.jpg" />
        <h1>Server is up and running</h1>
        <p>
          If you are seeing this page, your server is successfuly up and
          running, you can hit the following endpoints.
        </p>
      </div>
      <p>
        /api/auth - you can GET to see registered users and their hashed
        password
      </p>
      <p>/api/auth/login - you can POST to login</p>
      <p>/temas - you can GET and POST</p>
      <p>/temas/:id - you can UPDATE AND DELETE</p>
    </div>
    <hr />
  </body>
</html>
